.view-height {
  height: 100vh;
}

.my-padding {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.my-padding2 {
  padding-left: .6rem;
  padding-right: .6rem;
}

span {
  width: 3.8rem;
}

.modal span{
  width: 8rem;
}

img{
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#results{
  position: relative;
}

#loading{
  position: absolute;
  top: 30px;
  left: 150px;
  z-index: 10;
}

#report{
  display: none;
}

#run{
  display: block;
  
}

/* .loading{
  top: 150px;
  left: 105px;
}

@media (min-width: 576px){
  .loading{
    top: 150px;
    left: 140px;
  }
}

@media (min-width: 768px){
  .loading{
    top: 150px;
    left: 50px;
  }
}

@media (min-width: 992px){
  .loading{
    top: 150px;
    left: 115px;
  }
}

@media (min-width: 1200px){
  .loading{
    top: 150px;
    left: 157px;
  }
}

@media (min-width: 1400px){
  .loading{
    top: 150px;
    left: 203px;
  }
} */