body{
  background-color: #c4c4c4;
}

.view-height {
  height: 100vh;
}

.my-padding {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.my-padding2 {
  padding-left: .6rem;
  padding-right: .6rem;
}

span {
  width: 3.8rem;
}

.modal span{
  width: 8rem;
}

img{
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#results{
  position: relative;
}

#loading{
  position: absolute;
  top: 30px;
  left: 150px;
  z-index: 10;
}

#report{
  display: none;
}

#run{
  display: block;
}

.caution{
  color: #d9534f;
}





/* dark mode settings through operating system prefered settings */
@media (prefers-color-scheme: dark){
  body{
    background-color: #111;
  }

  .card{
    background-color: #333;
    color: #fff;
  }
}



/* media query for printer friendly page */
@media print{
  form,
  #report-footer,
  .form-switch{
    display: none;
  }

  .modal{
    top: -125px;
  }

  .caution{
    color: #000;
  }

}